* {
    margin: 0;
    padding: 0;
}

#tit1 {
    font-family: 'Times New Roman', Times, serif;
    color: #483C59;
    font-size: 28px;
}

#tit2 {
    font-family: 'Times New Roman', Times, serif;
    color: #252326;
    font-size: 28px;
}

.dis1 {
    font-family: 'Times New Roman', Times, serif;
    color: #0D1A26;
    font-weight: larger;
}
#container{
    width: 1024px;
    height: 950px;
    background-color: lemonchiffon;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1024px;
    height: 100px;
    background-color: #7ec777;
}

#enc {
    position: relative;
    left: 420px;
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

#nav {
    width: 1024px;
    height: 50px;
    background-color: coral;
}

#men {
    position: relative;
    left: 460px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}

#main {
    width: 1024px;
    height: 1500px;
    background-color: #7ec777;
}

#cue {
    position: relative;
    left: 10px;
    top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}

#footer {
    width: 1024px;
    height: 70px;
    background-color: coral;
}

#pie {
    position: relative;
    left: 280px;
    top: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}